/* 預設樣式重設與背景色 */
body {
  margin: 0;
  padding: 0;
  background-color: transparent;//background-color: #234c2f;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  touch-action: none;
}

/* 遊戲畫布 */
#game-canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* 虛擬搖桿區 */
#joystick-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  touch-action: none;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #aaa;
}

#joystick {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
  position: relative;
}

/* UI 區域 */
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

/* 能量條與生命條樣式 */
.bar-wrapper {
  margin-bottom: 10px;
}

.bar {
  width: 200px;
  height: 20px;
  background-color: #555;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2px;
}

.fill {
  height: 100%;
  width: 100%;
  transition: width 0.2s linear;
  border-radius: 10px;
}

.energy-bar .fill {
  background-color: #33cfff;
}

.health-bar .fill {
  background-color: #ff4e4e;
}
